body {
  margin: 0;
  height: 100vh;
  background-color: #222; /* Dark background */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #fff;
  min-width: 200px;
  min-height: 200px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: inline-block;
}
